## Needs to eventually be users with write access
## #if($om.canEdit($user))
#if($turbineUtils.isSiteAdmin($user))
  <div id='workflow-cleanup-container' class='panel'>
	<div style="margin-top:5px">
		<span style="font-size:20px;font-weight:bold">Workflow Cleanup</span>
		<span style="margin-left:50px">Include only workflows over <input type="text" id="include-days" value="3" size="2" onchange="CCF.workflowcleanup.includeDays()"/> days old.</span>
	</div>
      <div id='workflow-count-container'></div>
      <div id='workflow-table-container' style='position:absolute; top:165px; bottom:175px; width:90%; max-width:1150px; overflow:auto;'></div>
      <span style="width:90%; max-width:1150px; text-align:right; bottom:130px; position:absolute;"><button class="submit btn" id="fixButton" style="display:none" 
		onclick="CCF.workflowcleanup.fixSelectedWorkflows()" disabled="disabled">Dismiss Selected Workflows</button></span>
  </div>
  <script type="text/javascript" src="$content.getURI("scripts/workflowCleanup/workflowCleanup.js")"></script>
  <script>
    CCF.workflowcleanup.renderWorkflowCleanupPanel();
  </script>

#else
  <div class="clearfix clear"></div>
  <div class="error">
    <p><strong>Security Warning</strong></p>
    <p>You do not have privileges to access this page.</p>
  </div>
#end
